01. Master Fabrication Orders/
02. Master Document Control PDF/
Archive/
y/
y2/
Automatic logs/
output/

HENE2.ico
Directory comparator.bat
run.bat
05. San Diego Fab Order Release Log.xlsx
06. Bapko Travler (Rene input only).xlsx
main.py
test1.py
test2.py
test3.py
test4.py
test5.py
test6.py
test7.py
test8.py